<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Department by ID</title>
</head>
<body>
    <h2> Найденый отдел: </h2>
    <div>
        ID отдела:
        <text th:text="${department.getId()}"></text>
    </div>
    <div>
        Название отдела:
        <text th:text="${department.getName()}"></text>
    </div>

    <input type="button" value="Назад" onclick="location.href='/departments/main/1'">
</body>
</html>