<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Departments & employees</title>
</head>
<body>
<input type="button" value="Назад" onclick="location.href='/'">
<p>Выберите действие:</p>
<div>
    <input type="button" value="Показать все связи" onclick="location.href='/depEmps/all'">
    <input type="button" value="Удалить все связи" onclick="deleteAll()">
</div>
<p>              Запросы связей по ID              </p>
<div>
    <input type="text" id="id" placeholder="Введите ID"/>
    <input type="button" value="Поиск" onclick="getId()">
    <input type="button" value="Удаление" onclick="deleteById()">
</div>
<p>              Обновление информации о связи (оставьте поле пустым чтобы оставить его прежним)</p>
<div>
    <input type="text" id="updateId" placeholder="Введите ID"/>
    <input type="text" id="updateDepId" placeholder="Введите новый ID отдела"/>
    <input type="text" id="updateEmpId" placeholder="Введите новый ID сотрудника"/>
    <input type="button" value="Обновить информацию" onclick="updateById()">
</div>
<p>              Добавление нового сотрудника              </p>
<div>
    <input type="text" id="addDepId" placeholder="Введите новый ID отдела"/>
    <input type="text" id="addEmpId" placeholder="Введите новый ID сотрудника"/>
    <input type="button" value="Добавить новую связь" onclick="add()">
</div>

<input type="text" id="err" th:value="${err}" style="visibility:hidden;"/>
</body>

<script>
    window.onload = init;

    function init() {
        if (document.getElementById("err").value === "0") {
            alert("Успешно!");
        }
        if (document.getElementById("err").value === "-1") {
            alert("Такого элемента не найдено.")
        }
        if (document.getElementById("err").value === "-2") {
            alert("ID должен быть числом!")
        }
        if (document.getElementById("err").value === "-3") {
            alert("ID отделов и сотрудников должны быть целыми числами!")
        }
    }

    function getId(){
        let id = document.getElementById("id").value;
        if (id === "")
        {
            alert("Введите id!");
            return;
        }
        document.location.href = "/depEmps/" + id;
    }

    function deleteById(){
        let id = document.getElementById("id").value;
        if (id === "")
        {
            alert("Введите id!");
            return;
        }
        document.location.href = "/depEmps/delete/"+id;
    }

    function deleteAll(){
        document.location.href = "/depEmps/delete/";
    }

    function updateById(){
        let id = document.getElementById("updateId").value;
        let depId = document.getElementById("updateDepId").value;
        let empId = document.getElementById("updateEmpId").value;
        if (id === "")
        {
            alert("Введите id!");
            return;
        }

        document.location.href = "http://localhost:8080/depEmps/update/"+id+"?depId="+depId+"&empId="+empId;
    }

    function add() {
        let depId = document.getElementById("addDepId").value;
        let empId = document.getElementById("addEmpId").value;
        if (depId === "" || empId === "")
        {
            alert("Ни одно из полей не может быть пустым!");
            return;
        }
        document.location.href = "http://localhost:8080/depEmps/add?depId="+depId+"&empId="+empId;
    }

</script>
</html>